apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: prod
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: api
    spec:
      # AÑADE ESTA SECCIÓN
      imagePullSecrets:
        - name: acr-secret
      # FIN DE LA SECCIÓN
      containers:
        - name: api
          image: acrcicddemo18093.azurecr.io/api:latest
          ports:        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: prod
spec:
  type: LoadBalancer
  selector:
    app: api
  ports:
  - port: 80
    targetPort: 80
