apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      # --- INICIO DE LA CORRECCIÓN ---
      imagePullSecrets:
        - name: acr-secret
      # --- FIN DE LA CORRECCIÓN ---
      containers:
        - name: api
          image: acrcicddemo18093.azurecr.io/api:latest
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: prod
spec:
  # Corregido: 'Load Balancer' a 'LoadBalancer' [cite: 235]
  type: LoadBalancer 
  selector:
    app: api
  ports:
    - port: 80
      targetPort: 80
