apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      # --- INICIO DE LA CORRECCIÓN ---
      imagePullSecrets:
        - name: acr-secret
      # --- FIN DE LA CORRECCIÓN ---
      containers:
        - name: worker
          image: acrcicddemo18093.azurecr.io/worker:latest
